.bicycles-types {
  background-color: #f6f7f9;
}

.bicycles-types__wrapper {
  max-width: 1126px;
  margin: 0 auto;
  padding: 0 6%;
  padding-top: 154px;
  text-align: center;
}

.bicycles-types__title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: -0.005em;
  color: #1f1f1f;
}

.bicycles-types__list {
  @include list-reset();

  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bicycles-types__item {
  max-width: 30%;
  margin-bottom: 20px;
}

.bicycles-types__item:not(:last-child) {
  margin-right: 3%;
}

.bicycles-types__item--road {
  padding-top: 10px;
}

.bicycles-types__item .bicycles-types__image-wrapper::before {
  position: absolute;
  content: "";
  box-sizing: border-box;
}

.bicycles-types__item--road .bicycles-types__image-wrapper::before {
  width: 180px;
  height: 180px;
  border: 27px solid $main-color;
  border-radius: 50%;
  left: -60px;
  top: 154px;
}

.bicycles-types__item--mountain {
  padding-top: 40px;
}

.bicycles-types__item--mountain .bicycles-types__image-wrapper::before {
  left: -22px;
  top: -22px;
  width: 47px;
  height: 47px;
  border: 8px solid $main-color;
  z-index: 3;
}

.bicycles-types__item--childrens .bicycles-types__image-wrapper::before {
  top: -34px;
  right: -34px;
  width: 95px;
  height: 95px;
  border: 18px solid $main-color;
  border-radius: 50%;
  z-index: 3;
}

.bicycles-types__item--mountain .bicycles-types__image-wrapper::after {
  position: absolute;
  content: "";
  box-sizing: border-box;
  width: 47px;
  height: 47px;
  right: -22px;
  bottom: -12px;
  border: 8px solid $main-color;
  z-index: 2;
}

.bicycles-types__image {
  position: relative;
  width: 100%;
  z-index: 1;
  border-radius: 10px;
}

.bicycles-types__image-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.bicycles-types__item-description {
  margin: 0;
}
