.header {
  background-color: #000000;
  background-image: url("../img/hero-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

  @include retina {
    background-image: url("../img/hero-desktop@2x.jpg");
  }
}

.webp .header {
  background-image: url("../img/hero-desktop.webp");

  @include retina {
    background-image: url("../img/hero-desktop@2x.webp");
  }
}

.header__wrapper {
  max-width: 880px;
  margin: 0 auto;
}

.header__nav {
  padding-top: 17px;
  margin-bottom: 255px;
}

@include media-tablet {
  .header {
    background: none;
  }

  .webp .header {
    background: none;
  }

  .header__wrapper {
    max-width: 100%;
  }

  .header__nav {
    padding-top: 0;
    margin-bottom: 0;
  }
}
