.main {
  margin-bottom: 144px;
}

.main__about-company {
  max-width: 1166px;
  margin: 0 auto;
  padding-top: 151px;
  padding-bottom: 130px;
}

.main__bicycles-types {
  padding-bottom: 128px;
}

@include media-tablet {
  .main {
    margin-bottom: 62px;
  }

  .main__about-company {
    padding-top: 72px;
    padding-right: 12%;
    padding-bottom: 25px;
    padding-left: 12%;
  }

  .main__bicycles-types {
    padding-bottom: 21px;
  }
}

@include media-mobile {
  .main__about-company {
    padding-right: 5%;
    padding-bottom: 34px;
    padding-left: 4%;
  }

  .main__bicycles-types {
    padding-bottom: 4px;
  }
}
