$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$main-color: #0ad9c6;

//Template breakpoints
$mobile-width: 767px;
$tablet-width: 1023px;

//Template containers
$mobile-width-container: 320px;
$tablet-width-container: 768px;
